{% extends 'booksaw/base.html' %}
{% load static %}
{% block content %}
    <section id="popular-books" class="bookshelf py-5 my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header align-center">
                        <div class="title">
                            <span>Some quality items</span>
                        </div>
                        <h2 class="section-title">Popular Books</h2>
                    </div>

                    <ul class="tabs">

                        <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                        {% for category in categories %}
                            <li data-tab-target="#catergory_{{ category.id }}" class="tab">{{ category.name }}</li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        <div id="all-genre" data-tab-content class="books active">
                            {% for book in book_list %}
                               <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <!-- Kitobning rasmi -->
                                            <a href="{% url 'book_detail' book.id %}">
                                                <img src="{{ book.book_image.url }}" alt="{{ book.title }}" class="product-item">
                                            </a>
                                            <!-- Savatchaga qo'shish tugmasi -->
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <!-- Kitobning sarlavhasi va muallifi -->
                                            <h3><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h3>
                                            <span>{{ book.author }}</span>
                                            <!-- Kitobning narxi -->
                                            <div class="item-price">$ {{ book.price }}</div>
                                        </figcaption>
                                    </div>
                               </div>

                            {% endfor %}
                        </div>
                        <div id="business" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item2.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <span>Marmik Lama</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item4.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <span>Sanchit Howdy</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item6.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item8.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="technology" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <a href="{% url 'books_detail' book.id %}">
                                              <img src="{{ book.book_image.url }}" alt="Books" class="product-item">
                                            </a>
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <span>Marmik Lama</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item3.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <span>Sanchit Howdy</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item5.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item7.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="romantic" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item1.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Peaceful Enlightment</h3>
                                            <span>Marmik Lama</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item3.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Great travel at desert</h3>
                                            <span>Sanchit Howdy</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item5.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item7.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="adventure" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item5.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart"data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item7.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="fictional" data-tab-content>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item5.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Life among the pirates</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="{% static 'assets/images/tab-item7.jpg' %}" alt="Books"
                                                 class="product-item">
                                            <button type="button" class="add-to-cart" data-book-id="{{ book.id }}">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>Simple way of piece life</h3>
                                            <span>Armor Ramsey</span>
                                            <div class="item-price">$ 40.00</div>
                                        </figcaption>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!--inner-tabs-->

            </div>
        </div>
    </section>
{% endblock %}